## Contents
* [1. Background](#1.-Background)
    * [1.1. Objective](#1.1.-Objective)
    * [1.2. Additional information](#1.2.-Additional-information)
* [2. Import Train Data](#2.-Import-Data)
    * [2.1. Imports](#2.1.-Imports)
    * [2.2. Initial summary of data](#2.2.-Initial-summary-of-data)
* [3. Cleaning](#3.-Cleaning)
    * [3.1. Check for null values](#3.1.-Check-for-null-values)
    * [3.2. Change NaN values](#3.2.-Change-NaN-values)
    * [3.3. Change Y and N values](#3.3.-Change-Y-and-N-values)
    * [3.4. Drop repetitive features](#3.4.-Drop-repetitive-features)
* [4. Export Data](#4.-Export-Data)

---
## 1. Background
---
*  Following a company-wide performance review, ABC Estate Agency noticed a rising trend of misvaluation of Housing Development Board (HDB) resale flats by its estate agents. These cases of misvaluation are a violation of the national Code of Ethics (where guilty estate agents are subjected to disciplinary and legal action) and adversely affect the company's reputation.
* As an effort to reduce manual effort and human errors, and to help its estate agents more accurately and timely synthesise large amounts of HDB-resale-flat-related data, the management team of ABC Estate Agency assigned me a task to create a prediction model of HDB resale flats.

### 1.1. Objective
* Create a prediction model of HDB resale flat prices with at least a $R^{2}$ of 0.8.

### 1.2. Additional information
* The Council for Estate Agencies (CEA), Singapore's regulatory body for the real estate agency industry, provides a Professional Service Manual that all estate agents must comply to. Under section 2.1, when advising any persons on property prices, estate agents must ensure that the data provided on prices are current and accurate, and that the range and amount of data used are comprehensive.
* Free online HDB flat value calculators focus on several common factors: property location, property types (e.g. how many rooms per flat), floor level and floor area. These calculators can be taken as anecdotal evidence that the aforementioned factors are key to the evaluation of the price of a HDB flat.

Sources:
* [CEA - Professional Service Manual](https://www.cea.gov.sg/docs/default-source/legislation-guideliness/Practice-Guidelines-Circulars/professional-service-manual/practice-guidelines---professional-service-manual-(pdf-755kb).pdf)
* [CEAnswers: providing advice on price trends and collecting cheques from prospective buyers](https://www.cea.gov.sg/docs/default-source/module/newsletter/4-2019/ceanswers.html)
* [Money Smart - Property Valuation Calculator](https://www.moneysmart.sg/home-loan/property-valuation-calculator)
* [99.co - Property Value Tool](https://www.99.co/singapore/property-value-tool/form/adrry9rfmUXNcW9KwvtUUg8o)

---
## 2. Import Train Data
---

### 2.1. Imports

In [89]:
import numpy as np
import pandas as pd
import math
import os

### 2.2. Initial summary of data

In [90]:
hdb_df = pd.read_csv('datasets/train.csv')
pd.set_option('display.max_columns', None)  # to see all columns
print(hdb_df.shape)
print(hdb_df.head())
print(hdb_df.info())

C:\Users\Edmon\AppData\Local\Temp\ipykernel_138480\4253937880.py:1: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  hdb_df = pd.read_csv('datasets/train.csv')

(150634, 77)
       id Tranc_YearMonth             town  flat_type block       street_name  \
0   88471         2016-05  KALLANG/WHAMPOA     4 ROOM    3B  UPP BOON KENG RD
1  122598         2012-07           BISHAN     5 ROOM   153      BISHAN ST 13
2  170897         2013-07      BUKIT BATOK  EXECUTIVE  289B    BT BATOK ST 25
3   86070         2012-04           BISHAN     4 ROOM   232      BISHAN ST 22
4  153632         2017-12           YISHUN     4 ROOM   876      YISHUN ST 81

  storey_range  floor_area_sqm  flat_model  lease_commence_date  resale_price  \
0     10 TO 12            90.0     Model A                 2006      680000.0
1     07 TO 09           130.0    Improved                 1987      665000.0
2     13 TO 15           144.0   Apartment                 1997      838000.0
3     01 TO 05           103.0     Model A                 1992      550000.0
4     01 TO 03            83.0  Simplified                 1987      298000.0

   Tranc_Year  Tranc_Month  mid_storey  lower  upper  mid  \
0        2016            5          11     10     12   11
1        2012            7           8      7      9    8
2        2013            7          14     13     15   14
3        2012            4           3      1      5    3
4        2017           12           2      1      3    2

        full_flat_type               address  floor_area_sqft  hdb_age  \
0       4 ROOM Model A  3B, UPP BOON KENG RD          968.760       15
1      5 ROOM Improved     153, BISHAN ST 13         1399.320       34
2  EXECUTIVE Apartment  289B, BT BATOK ST 25         1550.016       24
3       4 ROOM Model A     232, BISHAN ST 22         1108.692       29
4    4 ROOM Simplified     876, YISHUN ST 81          893.412       34

   max_floor_lvl  year_completed residential commercial market_hawker  \
0             25            2005           Y          N             N
1              9            1987           Y          N             N
2             16            1996           Y          N             N
3             11            1990           Y          Y             N
4              4            1987           Y          N             N

  multistorey_carpark precinct_pavilion  total_dwelling_units  1room_sold  \
0                   N                 N                   142           0
1                   N                 N                   112           0
2                   N                 N                    90           0
3                   N                 N                    75           0
4                   N                 N                    48           0

   2room_sold  3room_sold  4room_sold  5room_sold  exec_sold  multigen_sold  \
0           0           0          96          46          0              0
1           0           0          56          56          0              0
2           0           0           0          30         60              0
3           0           0          68           7          0              0
4           0           0          30          18          0              0

   studio_apartment_sold  1room_rental  2room_rental  3room_rental  \
0                      0             0             0             0
1                      0             0             0             0
2                      0             0             0             0
3                      0             0             0             0
4                      0             0             0             0

   other_room_rental  postal  Latitude   Longitude planning_area  \
0                  0  382003  1.314299  103.872828       Kallang
1                  0  570153  1.346086  103.855078        Bishan
2                  0  651289  1.343867  103.760535   Bukit Batok
3                  0  570232  1.358245  103.845504        Bishan
4                  0  760876  1.414745  103.835532        Yishun

   Mall_Nearest_Distance  Mall_Within_500m  Mall_Within_1km  Mall_Within_2km  \
0            1094.090418               NaN              NaN              7.0
1             866.941448               NaN              1.0              3.0
2            1459.579948               NaN              NaN              4.0
3             950.175199               NaN              1.0              4.0
4             729.771895               NaN              1.0              2.0

   Hawker_Nearest_Distance  Hawker_Within_500m  Hawker_Within_1km  \
0               154.753357                 1.0                3.0
1               640.151925                 NaN                1.0
2              1762.082341                 NaN                NaN
3               726.215262                 NaN                1.0
4              1540.151439                 NaN                NaN

   Hawker_Within_2km  hawker_food_stalls  hawker_market_stalls  \
0               13.0                  84                    60
1                7.0                  80                    77
2                1.0                  84                    95
3                9.0                  32                    86
4                1.0                  45                     0

   mrt_nearest_distance     mrt_name  bus_interchange  mrt_interchange  \
0            330.083069      Kallang                0                0
1            903.659703       Bishan                1                1
2           1334.251197  Bukit Batok                1                0
3            907.453484       Bishan                1                1
4            412.343032       Khatib                0                0

   mrt_latitude  mrt_longitude  bus_stop_nearest_distance  \
0      1.311540     103.871731                  29.427395
1      1.350580     103.848305                  58.207761
2      1.349561     103.749970                 214.747860
3      1.350580     103.848305                  43.396521
4      1.417131     103.832692                 129.422752

              bus_stop_name  bus_stop_latitude  bus_stop_longitude  \
0                    Blk 3B           1.314433          103.872600
1              BLK 151A MKT           1.345659          103.855381
2                  Blk 289E           1.344064          103.758613
3  Opp Bishan Nth Shop Mall           1.358045          103.845169
4                   Blk 873           1.415424          103.836477

   pri_sch_nearest_distance                           pri_sch_name  vacancy  \
0               1138.633422               Geylang Methodist School       78
1                415.607357  Kuo Chuan Presbyterian Primary School       45
2                498.849039                  Keming Primary School       39
3                389.515528                   Catholic High School       20
4                401.200584              Naval Base Primary School       74

   pri_sch_affiliation  pri_sch_latitude  pri_sch_longitude  \
0                    1          1.317659         103.882504
1                    1          1.349783         103.854529
2                    0          1.345245         103.756265
3                    1          1.354789         103.844934
4                    0          1.416280         103.838798

   sec_sch_nearest_dist                             sec_sch_name  \
0           1138.633422                 Geylang Methodist School
1            447.894399  Kuo Chuan Presbyterian Secondary School
2            180.074558             Yusof Ishak Secondary School
3            389.515528                     Catholic High School
4            312.025435             Orchid Park Secondary School

   cutoff_point  affiliation  sec_sch_latitude  sec_sch_longitude
0           224            0          1.317659         103.882504
1           232            0          1.350110         103.854892
2           188            0          1.342334         103.760013
3           253            1          1.354789         103.844934
4           208            0          1.414888         103.838335
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150634 entries, 0 to 150633
Data columns (total 77 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         150634 non-null  int64
 1   Tranc_YearMonth            150634 non-null  object
 2   town                       150634 non-null  object
 3   flat_type                  150634 non-null  object
 4   block                      150634 non-null  object
 5   street_name                150634 non-null  object
 6   storey_range               150634 non-null  object
 7   floor_area_sqm             150634 non-null  float64
 8   flat_model                 150634 non-null  object
 9   lease_commence_date        150634 non-null  int64
 10  resale_price               150634 non-null  float64
 11  Tranc_Year                 150634 non-null  int64
 12  Tranc_Month                150634 non-null  int64
 13  mid_storey                 150634 non-null  int64
 14  lower                      150634 non-null  int64
 15  upper                      150634 non-null  int64
 16  mid                        150634 non-null  int64
 17  full_flat_type             150634 non-null  object
 18  address                    150634 non-null  object
 19  floor_area_sqft            150634 non-null  float64
 20  hdb_age                    150634 non-null  int64
 21  max_floor_lvl              150634 non-null  int64
 22  year_completed             150634 non-null  int64
 23  residential                150634 non-null  object
 24  commercial                 150634 non-null  object
 25  market_hawker              150634 non-null  object
 26  multistorey_carpark        150634 non-null  object
 27  precinct_pavilion          150634 non-null  object
 28  total_dwelling_units       150634 non-null  int64
 29  1room_sold                 150634 non-null  int64
 30  2room_sold                 150634 non-null  int64
 31  3room_sold                 150634 non-null  int64
 32  4room_sold                 150634 non-null  int64
 33  5room_sold                 150634 non-null  int64
 34  exec_sold                  150634 non-null  int64
 35  multigen_sold              150634 non-null  int64
 36  studio_apartment_sold      150634 non-null  int64
 37  1room_rental               150634 non-null  int64
 38  2room_rental               150634 non-null  int64
 39  3room_rental               150634 non-null  int64
 40  other_room_rental          150634 non-null  int64
 41  postal                     150634 non-null  object
 42  Latitude                   150634 non-null  float64
 43  Longitude                  150634 non-null  float64
 44  planning_area              150634 non-null  object
 45  Mall_Nearest_Distance      149805 non-null  float64
 46  Mall_Within_500m           57845 non-null   float64
 47  Mall_Within_1km            125208 non-null  float64
 48  Mall_Within_2km            148694 non-null  float64
 49  Hawker_Nearest_Distance    150634 non-null  float64
 50  Hawker_Within_500m         53244 non-null   float64
 51  Hawker_Within_1km          89766 non-null   float64
 52  Hawker_Within_2km          121432 non-null  float64
 53  hawker_food_stalls         150634 non-null  int64
 54  hawker_market_stalls       150634 non-null  int64
 55  mrt_nearest_distance       150634 non-null  float64
 56  mrt_name                   150634 non-null  object
 57  bus_interchange            150634 non-null  int64
 58  mrt_interchange            150634 non-null  int64
 59  mrt_latitude               150634 non-null  float64
 60  mrt_longitude              150634 non-null  float64
 61  bus_stop_nearest_distance  150634 non-null  float64
 62  bus_stop_name              150634 non-null  object
 63  bus_stop_latitude          150634 non-null  float64
 64  bus_stop_longitude         150634 non-null  float64
 65  pri_sch_nearest_distance   150634 non-null  float64
 66  pri_sch_name               150634 non-null  object
 67  vacancy                    150634 non-null  int64
 68  pri_sch_affiliation        150634 non-null  int64
 69  pri_sch_latitude           150634 non-null  float64
 70  pri_sch_longitude          150634 non-null  float64
 71  sec_sch_nearest_dist       150634 non-null  float64
 72  sec_sch_name               150634 non-null  object
 73  cutoff_point               150634 non-null  int64
 74  affiliation                150634 non-null  int64
 75  sec_sch_latitude           150634 non-null  float64
 76  sec_sch_longitude          150634 non-null  float64
dtypes: float64(25), int64(32), object(20)
memory usage: 88.5+ MB
None

---
## 3. Cleaning
---

### 3.1. Check for null values

In [91]:
pd.set_option('display.max_rows', None)  # to see all rows
missing_hdb_df = pd.DataFrame(hdb_df.isna().sum()).reset_index()
missing_hdb_df.columns = ['col', 'num_na']
missing_hdb_df['%na'] = missing_hdb_df['num_na']/len(hdb_df)*100
missing_hdb_df.style

### 3.2. Change NaN values
* from 'X within Y distance' features to 0

In [92]:
hdb_df['Mall_Within_500m'] = [0 if math.isnan(x) else x for x in hdb_df['Mall_Within_500m']]
hdb_df['Mall_Within_1km'] = [0 if math.isnan(x) else x for x in hdb_df['Mall_Within_1km']]
hdb_df['Mall_Within_2km'] = [0 if math.isnan(x) else x for x in hdb_df['Mall_Within_2km']]
hdb_df['Hawker_Within_500m'] = [0 if math.isnan(x) else x for x in hdb_df['Hawker_Within_500m']]
hdb_df['Hawker_Within_1km'] = [0 if math.isnan(x) else x for x in hdb_df['Hawker_Within_1km']]
hdb_df['Hawker_Within_2km'] = [0 if math.isnan(x) else x for x in hdb_df['Hawker_Within_2km']]

* since kaggle needs predictions on all rows (i.e. cannot drop any rows), I am replacing all NaN 'Mall_Nearest_Distance' as 4km, beyond the maximum numeric value to represent that these NaN distances are far-out

In [93]:
print(hdb_df['Mall_Nearest_Distance'].max())
hdb_df['Mall_Nearest_Distance'] = [4000.0 if math.isnan(x) else x for x in hdb_df['Mall_Nearest_Distance']]

3496.40291

### 3.3. Change Y and N values
* to 1 and 0 respectively, so Y and N can become machine-readable

In [94]:
hdb_df['residential'] = [False if x == "N" else True for x in hdb_df['residential']]
hdb_df['commercial'] = [False if x == "N" else True for x in hdb_df['commercial']]
hdb_df['market_hawker'] = [False if x == "N" else True for x in hdb_df['market_hawker']]
hdb_df['multistorey_carpark'] = [False if x == "N" else True for x in hdb_df['multistorey_carpark']]
hdb_df['precinct_pavilion'] = [False if x == "N" else True for x in hdb_df['precinct_pavilion']]

### 3.4. Drop repetitive features 
* These values can be represented by other values (e.g. latitude and longitude values represented by location name)
* Also to avoid an expansion of features if get_dummies is used on these categorical data

In [95]:
# sanity check: rule against curse of dimensionality
# where N = 150,634, (N)**0.5 = 388 features
print(hdb_df.nunique().sort_values(ascending=False))

id                           150634
postal                        17483
address                        9157
Latitude                       9126
sec_sch_nearest_dist           9126
Hawker_Nearest_Distance        9126
mrt_nearest_distance           9126
pri_sch_nearest_distance       9126
bus_stop_nearest_distance      9126
Longitude                      9098
Mall_Nearest_Distance          8983
resale_price                   3295
block                          2514
bus_stop_latitude              2011
bus_stop_longitude             2011
bus_stop_name                  1657
street_name                     553
total_dwelling_units            320
3room_sold                      255
4room_sold                      200
pri_sch_name                    177
pri_sch_latitude                177
pri_sch_longitude               177
floor_area_sqft                 169
floor_area_sqm                  169
sec_sch_name                    134
sec_sch_latitude                134
sec_sch_longitude               134
5room_sold                      133
Tranc_YearMonth                 110
exec_sold                       103
2room_sold                       99
mrt_name                         94
mrt_latitude                     94
mrt_longitude                    94
hawker_market_stalls             70
vacancy                          66
studio_apartment_sold            61
year_completed                   59
cutoff_point                     54
lease_commence_date              54
hdb_age                          54
hawker_food_stalls               52
2room_rental                     48
full_flat_type                   43
Mall_Within_2km                  42
max_floor_lvl                    41
planning_area                    32
town                             26
storey_range                     25
upper                            23
mid                              22
lower                            22
mid_storey                       22
flat_model                       20
Hawker_Within_2km                20
Mall_Within_1km                  16
3room_rental                     15
Tranc_Month                      12
1room_rental                     11
Tranc_Year                       10
Hawker_Within_1km                10
Mall_Within_500m                  7
flat_type                         7
multigen_sold                     7
Hawker_Within_500m                6
other_room_rental                 3
multistorey_carpark               2
affiliation                       2
market_hawker                     2
1room_sold                        2
pri_sch_affiliation               2
bus_interchange                   2
commercial                        2
mrt_interchange                   2
precinct_pavilion                 2
residential                       1
dtype: int64

In [96]:
# drop 'repetitive' columns
hdb_df = hdb_df.drop(columns=['id', 'Tranc_YearMonth', 'lease_commence_date', 'flat_type', 'block', 'flat_model', 'storey_range', 'mid', 'lower', 'upper', 'postal', 'floor_area_sqft', 'block', 'street_name', 'address', 'planning_area', 'mrt_name', 'bus_stop_name', 'pri_sch_latitude', 'pri_sch_longitude', 'sec_sch_latitude', 'sec_sch_longitude', 'bus_stop_latitude', 'bus_stop_longitude', 'mrt_latitude', 'mrt_longitude', 'Longitude', 'Latitude'])

* Sanity checks

In [98]:
print(hdb_df.isnull().sum())  # results show none remaining

town                         0
floor_area_sqm               0
resale_price                 0
Tranc_Year                   0
Tranc_Month                  0
mid_storey                   0
full_flat_type               0
hdb_age                      0
max_floor_lvl                0
year_completed               0
residential                  0
commercial                   0
market_hawker                0
multistorey_carpark          0
precinct_pavilion            0
total_dwelling_units         0
1room_sold                   0
2room_sold                   0
3room_sold                   0
4room_sold                   0
5room_sold                   0
exec_sold                    0
multigen_sold                0
studio_apartment_sold        0
1room_rental                 0
2room_rental                 0
3room_rental                 0
other_room_rental            0
Mall_Nearest_Distance        0
Mall_Within_500m             0
Mall_Within_1km              0
Mall_Within_2km              0
Hawker_Nearest_Distance      0
Hawker_Within_500m           0
Hawker_Within_1km            0
Hawker_Within_2km            0
hawker_food_stalls           0
hawker_market_stalls         0
mrt_nearest_distance         0
bus_interchange              0
mrt_interchange              0
bus_stop_nearest_distance    0
pri_sch_nearest_distance     0
pri_sch_name                 0
vacancy                      0
pri_sch_affiliation          0
sec_sch_nearest_dist         0
sec_sch_name                 0
cutoff_point                 0
affiliation                  0
dtype: int64

In [99]:
print(hdb_df.dtypes)  # looks good

town                          object
floor_area_sqm               float64
resale_price                 float64
Tranc_Year                    object
Tranc_Month                   object
mid_storey                     int64
full_flat_type                object
hdb_age                        int64
max_floor_lvl                  int64
year_completed                 int64
residential                     bool
commercial                      bool
market_hawker                   bool
multistorey_carpark             bool
precinct_pavilion               bool
total_dwelling_units           int64
1room_sold                     int64
2room_sold                     int64
3room_sold                     int64
4room_sold                     int64
5room_sold                     int64
exec_sold                      int64
multigen_sold                  int64
studio_apartment_sold          int64
1room_rental                   int64
2room_rental                   int64
3room_rental                   int64
other_room_rental              int64
Mall_Nearest_Distance        float64
Mall_Within_500m             float64
Mall_Within_1km              float64
Mall_Within_2km              float64
Hawker_Nearest_Distance      float64
Hawker_Within_500m           float64
Hawker_Within_1km            float64
Hawker_Within_2km            float64
hawker_food_stalls             int64
hawker_market_stalls           int64
mrt_nearest_distance         float64
bus_interchange                int64
mrt_interchange                int64
bus_stop_nearest_distance    float64
pri_sch_nearest_distance     float64
pri_sch_name                  object
vacancy                        int64
pri_sch_affiliation             bool
sec_sch_nearest_dist         float64
sec_sch_name                  object
cutoff_point                   int64
affiliation                     bool
dtype: object

---
## 4. Export data
---

In [100]:
newpath = 'output'
if not os.path.exists(newpath):
    os.makedirs(newpath)

hdb_df.to_csv('output/cleaned_baseline_hdb_train.csv', index=False)

In [101]:
# reset option to un-see rows and columns
pd.reset_option('display.max_rows')  # reset to un-see all rows
pd.reset_option('display.max_columns')  # reseting option to un-see all columns