<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Prediction of HDB Resale Flat Prices
Author: Edmond Ang

## Contents
1. [Baseline Test Data Cleaning](#1.-Baseline-Model-Data-Cleaning)

---
## 1. Baseline Model Data Cleaning
---

* Mimic baseline training data cleaning to determine baseline model prediction

### Imports

In [59]:
import numpy as np
import pandas as pd
import math
import os
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from statistics import mean

### Read test data

In [60]:
hdb_df = pd.read_csv('datasets/test.csv')
pd.set_option('display.max_columns', None)  # to see all columns
print(hdb_df.shape)
print(hdb_df.head())  # missing resale_price column

(16737, 76)
       id Tranc_YearMonth         town flat_type block          street_name  \
0  114982         2012-11       YISHUN    4 ROOM   173         YISHUN AVE 7
1   95653         2019-08  JURONG WEST    5 ROOM  986C    JURONG WEST ST 93
2   40303         2013-10   ANG MO KIO    3 ROOM   534    ANG MO KIO AVE 10
3  109506         2017-10    WOODLANDS    4 ROOM    29         MARSILING DR
4  100149         2016-08  BUKIT BATOK    4 ROOM   170  BT BATOK WEST AVE 8

  storey_range  floor_area_sqm         flat_model  lease_commence_date  \
0     07 TO 09            84.0         Simplified                 1987
1     04 TO 06           112.0  Premium Apartment                 2008
2     07 TO 09            68.0     New Generation                 1980
3     01 TO 03            97.0     New Generation                 1979
4     16 TO 18           103.0            Model A                 1985

   Tranc_Year  Tranc_Month  mid_storey  lower  upper  mid  \
0        2012           11           8      7      9    8
1        2019            8           5      4      6    5
2        2013           10           8      7      9    8
3        2017           10           2      1      3    2
4        2016            8          17     16     18   17

             full_flat_type                   address  floor_area_sqft  \
0         4 ROOM Simplified         173, YISHUN AVE 7          904.176
1  5 ROOM Premium Apartment   986C, JURONG WEST ST 93         1205.568
2     3 ROOM New Generation    534, ANG MO KIO AVE 10          731.952
3     4 ROOM New Generation          29, MARSILING DR         1044.108
4            4 ROOM Model A  170, BT BATOK WEST AVE 8         1108.692

   hdb_age  max_floor_lvl  year_completed residential commercial  \
0       34             12            1986           Y          Y
1       13             14            2002           Y          N
2       41             12            1979           Y          N
3       42             14            1976           Y          N
4       36             25            1985           Y          N

  market_hawker multistorey_carpark precinct_pavilion  total_dwelling_units  \
0             N                   N                 N                   132
1             N                   N                 N                    53
2             N                   N                 N                   218
3             N                   N                 N                   104
4             N                   N                 N                   144

   1room_sold  2room_sold  3room_sold  4room_sold  5room_sold  exec_sold  \
0           0           0           0          92          40          0
1           0           0           0          28          25          0
2           0           0         191          22           1          1
3           0           0           0         104           0          0
4           0           0           0          48          96          0

   multigen_sold  studio_apartment_sold  1room_rental  2room_rental  \
0              0                      0             0             0
1              0                      0             0             0
2              0                      0             0             0
3              0                      0             0             0
4              0                      0             0             0

   3room_rental  other_room_rental  postal  Latitude   Longitude  \
0             0                  0  760173  1.437066  103.831121
1             0                  0  643986  1.336957  103.695668
2             3                  0  560534  1.374058  103.854168
3             0                  0  731029  1.442748  103.772922
4             0                  0  650170  1.346556  103.740101

  planning_area  Mall_Nearest_Distance  Mall_Within_500m  Mall_Within_1km  \
0        Yishun             877.431572               NaN              2.0
1   Jurong West             534.037705               NaN              1.0
2    Ang Mo Kio             817.050453               NaN              2.0
3     Woodlands            1272.737194               NaN              NaN
4   Bukit Batok            1070.963675               NaN              NaN

   Mall_Within_2km  Hawker_Nearest_Distance  Hawker_Within_500m  \
0              4.0               687.576779                 NaN
1              3.0              2122.346226                 NaN
2              3.0               152.287621                 1.0
3              3.0               501.892158                 NaN
4              5.0               437.593564                 1.0

   Hawker_Within_1km  Hawker_Within_2km  hawker_food_stalls  \
0                1.0                1.0                  56
1                NaN                NaN                  72
2                3.0               11.0                  50
3                1.0                2.0                  52
4                2.0                2.0                  60

   hawker_market_stalls  mrt_nearest_distance        mrt_name  \
0                   123            686.660434        Canberra
1                    94            169.478175         Pioneer
2                   100            694.220448      Ang Mo Kio
3                   112           1117.203587       Marsiling
4                    87            987.976010  Chinese Garden

   bus_interchange  mrt_interchange  mrt_latitude  mrt_longitude  \
0                0                0      1.443077     103.829703
1                0                0      1.337343     103.697143
2                1                0      1.369465     103.849939
3                0                0      1.432757     103.773982
4                0                0      1.342441     103.732225

   bus_stop_nearest_distance bus_stop_name  bus_stop_latitude  \
0                  75.683952       Blk 174           1.437558
1                  88.993058      Blk 653B           1.336491
2                  86.303575       Blk 532           1.374255
3                 108.459039        Blk 32           1.443650
4                 113.645431       Blk 169           1.346899

   bus_stop_longitude  pri_sch_nearest_distance  \
0          103.831591                426.467910
1          103.696319                439.756851
2          103.854919                355.882207
3          103.773295                929.744711
4          103.741064                309.926934

                        pri_sch_name  vacancy  pri_sch_affiliation  \
0       Ahmad Ibrahim Primary School       92                    0
1         Jurong West Primary School       45                    0
2           Jing Shan Primary School       36                    0
3           Marsiling Primary School       54                    0
4  Princess Elizabeth Primary School       40                    0

   pri_sch_latitude  pri_sch_longitude  sec_sch_nearest_dist  \
0          1.433681         103.832924            156.322353
1          1.339244         103.698896            739.371688
2          1.371893         103.851811            305.071191
3          1.434423         103.773698            433.454591
4          1.349195         103.741000            217.295361

                     sec_sch_name  cutoff_point  affiliation  \
0  Ahmad Ibrahim Secondary School           218            0
1    Jurong West Secondary School           199            0
2       Anderson Secondary School           245            0
3      Woodlands Secondary School           188            0
4    Bukit Batok Secondary School           223            0

   sec_sch_latitude  sec_sch_longitude
0          1.436235         103.829987
1          1.335256         103.702098
2          1.374242         103.851430
3          1.439183         103.774499
4          1.348351         103.740873

C:\Users\Edmon\AppData\Local\Temp\ipykernel_1628\2649564829.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  hdb_df = pd.read_csv('datasets/test.csv')

### Change all NaN values from 'X within Y distance' features to 0

In [61]:
hdb_df['Mall_Within_500m'] = [0 if math.isnan(x) else x for x in hdb_df['Mall_Within_500m']]
hdb_df['Mall_Within_1km'] = [0 if math.isnan(x) else x for x in hdb_df['Mall_Within_1km']]
hdb_df['Mall_Within_2km'] = [0 if math.isnan(x) else x for x in hdb_df['Mall_Within_2km']]

hdb_df['Hawker_Within_500m'] = [0 if math.isnan(x) else x for x in hdb_df['Hawker_Within_500m']]
hdb_df['Hawker_Within_1km'] = [0 if math.isnan(x) else x for x in hdb_df['Hawker_Within_1km']]
hdb_df['Hawker_Within_2km'] = [0 if math.isnan(x) else x for x in hdb_df['Hawker_Within_2km']]

### Change all 'Y' and 'N' values to 1 and 0 respectively

In [62]:
hdb_df['residential'] = [0 if x == "N" else 1 for x in hdb_df['residential']]
hdb_df['commercial'] = [0 if x == "N" else 1 for x in hdb_df['commercial']]
hdb_df['market_hawker'] = [0 if x == "N" else 1 for x in hdb_df['market_hawker']]
hdb_df['multistorey_carpark'] = [0 if x == "N" else 1 for x in hdb_df['multistorey_carpark']]
hdb_df['precinct_pavilion'] = [0 if x == "N" else 1 for x in hdb_df['precinct_pavilion']]

### Dropping all location-name features

In [63]:
hdb_df = hdb_df.drop(columns=['lease_commence_date', 'flat_type', 'block', 'flat_model', 'storey_range', 'mid', 'lower', 'upper', 'postal', 'floor_area_sqft', 'block', 'street_name', 'address', 'planning_area', 'mrt_name', 'bus_stop_name', 'pri_sch_latitude', 'pri_sch_longitude', 'sec_sch_latitude', 'sec_sch_longitude', 'bus_stop_latitude', 'bus_stop_longitude', 'mrt_latitude', 'mrt_longitude', 'Longitude', 'Latitude'])

### Drop 'Tranc_YearMonth' feature

In [64]:
hdb_df = hdb_df.drop(columns=['Tranc_YearMonth'])

### Dropping NaN values for 'Mall_Nearest_Distance'

In [65]:
hdb_df = hdb_df[hdb_df['Mall_Nearest_Distance'].notnull()]

### Convert remaining categorical variable into dummy/indicator variables

In [66]:
hdb_df = pd.get_dummies(hdb_df, columns=['town', 'pri_sch_name', 'sec_sch_name', 'full_flat_type'])

### Sanity check: making sure that the number of features matches baseline train dataset

In [67]:
len(hdb_df.columns)

422

### Export cleaned data to CSV file

In [68]:
newpath = 'output'
if not os.path.exists(newpath):
    os.makedirs(newpath)

hdb_df.to_csv('output/cleaned_baseline_hdb_test.csv')